body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.product {
    margin-bottom: 2px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #1dceb0;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    margin-top: 10px;
    color: #333;
}

p {
    color: #555;
}